{% extends 'master.html' %}
{% load static %}
{% block page_styles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
{% include 'products/components/stylesheet.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block page_content %}
    <main class="p-2 flex-grow-1">
      <div class="container">
        <h3>Наша продукция</h3>
        <div class="row">
          {% for cat in links_menu %}
            <div class="col">
                {% include 'products/components/category.html' with category=cat %}
            </div>
          {% endfor %}
          <div class="col">
            {% if basket %}
              <a href="{% url 'basket:list' %}">
                {% if basket %}
                  {{ basket.0.total_cost|floatformat:0 }} руб
                  {{ basket.0.total_quantity }} шт
                {% endif %}
              </a>

            {% endif %}
          </div>
        </div>
        <div class="row">
          <div id="product__list">

          </div>
        </div>
        <div class="row">
          <a href="{% url 'categories:create' %}">добавить категорию</a>
        </div>
        <div class="row">
          <a href="{% url 'products:create' %}">добавить продукт</a>
        </div>
      </div>
    </main>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static 'categories/products.js' %}"></script>

<script>
    axios.get('http://127.0.0.1:8000/api/products/')
        .then(renderData)
</script>
{% endblock %}
