{% extends 'master.html' %}

{% block page_styles %}
{% include 'products/components/stylesheet.html' %}
{% endblock %}

{% block page_title %}
Каталог
{% endblock %}

{% block page_content %}
    <main class="p-2 flex-grow-1">
      <div class="container">
        <h3>{{ instance.name }}</h3>
        <div class="row">
          <div class="col">
            <img src="/media/{{ instance.image.value }}" class="img-fluid border" alt="">
          </div>
          <div class="col">
            <p>{{ instance.snippet }}</p>
          </div>
          <div class="col">
            <p>{{ instance.cost }}</p>
          </div>
          <div class="col">
            <a href="{% url 'basket:add' pk=instance.id %}">добавить в корзину</a>
          </div>
        </div>

      </div>
    </main>
{% endblock %}
