{% extends 'master.html' %}

{% block page_styles %}
{% include 'products/components/stylesheet.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block page_content %}
    <main class="p-2 flex-grow-1">
      <div class="container">
        <h3>Наша продукция</h3>
        <div class="row">
          {% for cat in links_menu %}
            <div class="col">
                {% include 'products/components/category.html' with category=cat %}
            </div>
          {% endfor %}
          <div class="col">
            <a href="{% url 'basket:list' %}">
              {% if basket %}
                {{ basket.0.total_cost|floatformat:0 }} руб
                {{ basket.0.total_quantity }} шт
              {% endif %}
            </a>
          </div>
        </div>
        <div class="row">
          {% for itm in object_list %}
            <div class="col">
                {% include 'products/components/product.html' with product=itm %}
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col">
            {% if object_list.has_previous %}
            <a href="{% url 'products:list' object_list.previous_page_number%}">Previous</a>
            {% endif %}
          </div>
          <div class="col">
            <span class="current">
              Page {{ object_list.number }} из {{ object_list.paginator.num_pages }}
            </span>
          </div>
          <div class="col">
            {% if object_list.has_next %}
            <a href="{% url 'products:list' object_list.next_page_number%}">Next</a>
            {% endif %}
          </div>

        </div>
        <div class="row">
          <a href="{% url 'categories:create' %}">добавить категорию</a>
        </div>
        <div class="row">
          <a href="{% url 'products:create' %}">добавить продукт</a>
        </div>
      </div>
    </main>
{% endblock %}
