{% extends 'master.html' %}

{% block page_styles %}
{% include 'products/components/stylesheet.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block page_content %}
    <main class="p-2 flex-grow-1">
      <div class="container">
        <h3>Категории (admin)</h3>
        <div class="row">
          {% for itm in object_list %}
            <div class="col">
              <a href="{% url 'subd:category_detail' pk=itm.id %}">
                {{ itm|title|add:'...!' }}
              </a>
              <div class="">
                <a href="{% url 'subd:category_update' pk=itm.id %}">редактировать</a>
              </div>
              <div class="">
                <a href="{% url 'subd:category_delete' pk=itm.id %}">удалить</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </main>
{% endblock %}
